$baseFontSize: 12px;
$baseTextColor: #3bbfce;
$baseMargin: 16px;
$basePadding: $baseMargin / 2;

body {
	font-size: $baseFontSize;
}

h1 {
	font-size: $baseFontSize*2;
}

p{
	color: darken($baseTextColor, 9%);
	margin: $baseMargin;
	padding: $basePadding / 2;
}