<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>viewTest - View - Backbones.js</title>
	<meta charset="utf-8">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="../underscore-min.js"></script>
	<script src="../backbone-min.js"></script>
</head>
<body>
<script type="text/template" id="search_template">
  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</script>

<div id="search_container"></div>

<script type="text/javascript">
    SearchView = Backbone.View.extend({
        initialize: function(){
            this.render();
        },
        render: function(){
            // Compile the template using underscore
            var template = _.template( $("#search_template").html(), {} );
            // Load the compiled HTML into the Backbone "el"
            this.$el.html( template );
        }
    });
    
    var search_view = new SearchView({ el: $("#search_container") });
    
    // View test
</script>
</body>
</html>